.settings_options {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.settings_container {
}

.settings_list {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
}

.option{
    font-size: 1.5vmax;
    cursor: pointer;
}

.hidden{
    display: none;
}

.visible{
    display: block;
}