*, *:before, *:after {
    box-sizing: border-box;
}

html {
    height: 100%;
    padding: 1%;
}

body {
    margin: 0;
    background-color: #333;
    color: #f8f8f8;
    font-family: Courier New, MS, cursive, sans-serif;
    font-size: 1vw;
    height: 100%;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #f8f8f8;
}

ul {
    padding: 0;
    list-style: none;
}

.header_text {
    float: none;
    display: flex;
    justify-content: space-between;
}

ul.body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    list-style: none;
}

main.body{
    display: flex;
    padding: 0 55px;
    height: 100%;
    flex: 1;
}

.header {
    display: flex;
    justify-content: space-between;
}

.nav_list{
    list-style: none;
    padding: 0;
    margin: 0;
}

.row {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    padding: 15px 20px;
}

li.box {
    list-style: none;
    width: 25%;
}
.section_text {
    padding: 10px;
    align-self: center;
    margin: 0 25px 0 0;
    font-weight: 700;
    font-size: 2vmax;
    display: inline-block;
}

.section_text.right {
    color: #f8f8f8;
}

.right {
    float: right;
}

.section_text_1 {
    padding: 10px;
    font-size: 1vmax;
    float: none;
    text-align: center;
}

.channel_column {
    padding: 20px;
    border: 3px solid #f8f8f8;
}

.main{
    padding: 0;
    width: 100%;
}

.logo_box {
    width: 35%;
    border: 3px solid #f8f8f8;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.channel_row {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    width: 100%;
    margin: 2.5%;
}

.channel_logo {
    text-align: center;
    font-size: 1vmax;
    margin: 6% 3%;
    padding: 6% 3%;
}

.channel_info{
    margin: 5%;
    display: flex;
    flex-flow: column nowrap;

}

.channel_title {
    font-size: 0.85vmax;
}

.channel_now {
    font-size: 0.7vmax;
}



.div_75{
    width: 75%;
    float: left;
    margin: 5px 0;
}

.div_25{
    width: 25%;
    float: left;
    margin: 5px 0;
}

.div_50{
    width: 50%;
    float: left;
    margin: 5px 0;
}

.div_100{
    width: 100%;
}

input[type=text], select, textarea, button{
    width: 100%;
    border: 1px solid #ccc;
    box-sizing: border-box;
    resize: vertical;
    background-color: #333;
    color: #f8f8f8;
    font-family: Courier New, MS, cursive, sans-serif;
    font-size: 1vw;
}